@import "colors.css";
/* @import url('../../.cache/wal/colors-waybar.css'); */

* {
    font-size: 15px;
    min-height: 0;
    font-weight: bold;
    font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF" ;
}

window#waybar,
window#waybar.empty,
window#waybar.empty #window {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}

tooltip {
    color: @inverse_surface;
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
}

tooltip label {
    color: @inverse_surface;
}

/* Module Groups */
.modules-left {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
  
    border-bottom: 0px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;

    background-color: rgba(0,0,0,0.6);
    color: @secondary;
    /* box-shadow: 0px 0px 2px rgba(0,0,0,.6); */
}

.modules-center {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
  
    border-bottom: 0px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;

    background-color: rgba(0,0,0,0.6);
    color: @secondary;
}

.modules-right {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
  
    border-bottom: 0px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;

    background-color: rgba(0,0,0,0.6);
    color: @secondary;
}

/* workspaces */
#taskbar button,
#workspaces button {
    color: @outline;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;

    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover,
#workspaces button:hover {
    color: @on_secondary_fixed_variant;
    border-radius: 10px;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;

    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active,
#workspaces button.active {
    color: @inverse_surface;
    border-radius: 10px;
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
    color: @on_secondary;
    border-radius: 10px;
}

#workspaces button.persistent {
    border-radius: 10px;
}
/*
#workspaces button.empty {
  color: rgba(0,0,0,0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0,0,0,.2);
}

#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0,0,0,.5);
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.empty.active {
    color: @inverse_surface;
    border: none;
    text-shadow: 0px 0px 2px rgba(0,0,0,.5);
} */

/* indivdiual modules */
#clock,
#pacman,
#tray,
#workspaces {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

#pulseaudio:hover, #clock:hover, #custom-logo:hover, #custom-pacman:hover, #custom-notification:hover, #bluetooth:hover, #network:hover, #battery:hover, #cpu:hover, #memory:hover, #temperature:hover {
  transition: all .3s ease;
  color:@color9;
}

#custom-logo {
  padding: 0px 5px;
  transition: all .3s ease;
  color: @color7;
}

#custom-notification {
  padding: 0px 10px;
  transition: all .3s ease;
  color: @color7;
}

#bluetooth{
  padding: 0px 5px;
  transition: all .3s ease;
  color: @color7;
}

#network{
  padding: 0px 10px;
  transition: all .3s ease;
  color: @color7;
}

#pulseaudio {
  padding: 0px 10px;
  transition: all .3s ease;
  color: @color7;
}

#battery {
  padding: 0px 15px;
  transition: all .3s ease;
  color: @color7;
}

#battery.charging {
  color: #26A65B;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#group-expand {
  padding: 0px 5px;
  transition: all .3s ease;
}

#custom-expand {
  padding: 0px 5px;
  color: @foreground;
  text-shadow: 0px 0px 2px rgba(0,0,0,.7);
  transition: all .3s ease;
}

#custom-expand:hover {
  color:rgba(255,255,255,.2);
  text-shadow: 0px 0px 2px rgba(255,255,255,.5);
}

#custom-colorpicker {
  padding: 0px 5px;
}

#cpu, #memory, #temperature {
  padding: 0px 5px;
  transition: all .3s ease;
  color: @color7;
}

#custom-endpoint {
  color:transparent;
  text-shadow: 0px 0px 1.5px rgba(0,0,0, 1);
}
